@model Model.DTO.CodeDTO.UserCodeDTO
<style type="text/css">
    .block1 {
        width: 100%;
        background: #ccc;
        height: 100px;
    }

    .block2 {
        width: 100%;
        background: #fc0;
        height: 100%;
    }
</style>

<link rel="stylesheet" href="css/codemirror.css" />
<script src="js/codemirror.js"> </script>
<script src="js/matchbrackets.js"></script>
<script src="js/continuecomment.js"></script>
<script src="js/clike.js"></script>

<div class="row block1">

<div class="row block2">

    <div>
        <div class="col-md-2" style="background: aliceblue; height: 100%">

        </div>
        <div class="col-md-10" sttyle="background: aqua">
            <div class="row" style="background: cadetblue; height: 200px;">
                <div>@Model.Exercise.TaskName</div>
                <div>@Model.Exercise.TaskTextField</div>
            </div>
            <div>
                <div class="row" style="background: aquamarine; height: 500px">
                    <div class="col-md-12">
                        <form method="post" id="codeResult" asp-controller="Code" asp-action="GetCode" >
                            <textarea id="codeText" name="CodeText" class="col-md-12" style="height: 400px; width: 100%; margin: 10px"></textarea>
                            <button type="submit" class="btn btn-default"> Execute </button>
                            <div id="result" style="margin: 10px"></div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="row" style="background: black; height: 100px; width: 100%">
                <div class="row" style="background: #cccccc; height: 80px; margin: 10px; width: 900px">
                    <div id="result" style="margin: 10px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#executeButton').click(
            function () {
                var userCode = new Object();
                userCode.CodeText = $('#codeText').val();

            $.ajax({
                url: "/Code/Index",
                type: "POST",
                data: dataWithAntiforgeryToken,
                success: function (data) {
                        $("#results").append(data);
                },
                error: function () {
                    $("#StorageLocations").empty();
                }
            });
        }
        window.onload = function () {
            var editableCodeMirror = CodeMirror.fromTextArea(document.getElementById('codeText'), {
                mode: "text/x-csrc",
                theme: "default",
                lineNumbers: true
            });

        };




        $("#IsHardcover").on('change', determineStorageLocation);
    </script>
}

