
@model IEnumerable<Model.DTO.ExerciseDTO>

<form asp-action="ShowExercise" asp-controller="CourseManagement">
    <div asp-validation-summary="All" class="text-danger"></div>

    <table class="table">
        <tr>
            <th> Task Name </th>
            </tr>

            @foreach (var p in Model)
            {
                   <tr>
                       <td>@p.TaskName</td>
                       
                       <td>
                           <form method="post">
                               <a class="btn btn-sm btn-primary" asp-controller="ExerciseManagement" asp-action="TaskView" asp-route-id="@p.Id">View Tasks</a>
                           </form>
                       </td>
                   </tr>
            }
                                     
    </table>


</form>

