
@{
    ViewData["Title"] = "CreateTestCase";
}

@model WebApp.ViewModels.CreateTestCase
@{
    ViewBag.Title = "Add test case";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedRes> SharedLocalizer

<form asp-action="CreateTestCase" asp-controller="ExerciseManagement">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <select asp-for="TestCaseDTO.ExerciseDTOId"
                asp-items="@(new SelectList(Model.ExerciseList, "Id", "TaskName"))"></select>
        <br/>
        <label asp-for="TestCaseDTO.InputData" class="control-label">@SharedLocalizer["InputData"]*</label>
        <input type="text" asp-for="TestCaseDTO.InputData" class="form-control" required />

        <label asp-for="TestCaseDTO.OutputData" class="control-label">@SharedLocalizer["OutputData"]*</label>
        <input type="text" asp-for="TestCaseDTO.OutputData" class="form-control" required />
    </div>
    <div class="form-group">
        <input type="submit" value="Ok" class="btn btn-default" />
    </div>
</form>
<h6>@SharedLocalizer["Required"]</h6>