@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedRes> SharedLocalizer

@model Model.DTO.ExerciseDTO
@{
    ViewBag.Title = "Task View";
}
<form asp-action="TaskView" asp-controller="ExerciseManagement">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <input type="text" asp-for="TaskName" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="TaskTextField" class="control-label">@SharedLocalizer["Task"]:</label>
        <input type="text" asp-for="TaskTextField" class="form-control" readonly />
    </div>
    <div class="form-group">
        <input value="@SharedLocalizer["Ok"]" onClick="history.go(-1)" ; class="btn btn-default" />
    </div>
</form>