
@model Model.DTO.ExerciseDTO
@{
    ViewBag.Title = "Task View";
}
<form asp-action="TaskView" asp-controller="ExerciseManagement">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <input type="text" asp-for="TaskName" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="TaskName" class="control-label">Task:</label>
        <input type="text" asp-for="TaskString" class="form-control" readonly />
    </div>
    <div class="form-group">
        <input type="submit" value="Ok" class="btn btn-default" />
    </div>
</form>