@model Model.DTO.ExerciseDTO
@{
    ViewBag.Title = "Task View";
}
<form asp-action="Update" asp-controller="ExerciseManagement">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="Course" class="control-label">Course Name *</label>
        <select asp-for="Course" asp-items="@(new SelectList(@ViewBag.Courses))" class="form-control" required></select>
        <label asp-for="TaskName" class="control-label">Task Name *</label>
        <input type="text" asp-for="TaskName" class="form-control"required />
    </div>
    <div class="form-group">
        <label asp-for="TaskName" class="control-label">Task:</label>
        <input type="text" asp-for="TaskString" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</form>

<br/>
<h6>Fields with * are required</h6>