@model IEnumerable<Model.DTO.UserDTO>

<table class="table">
    <tr><th>Email</th><th>Action</th><th></th></tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <form method="post">
                    <a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-route-id="@user.Id">Change password</a>
                </form>
            </td>
        </tr>
    }
</table>